
/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons{
    cursor: pointer;
}

/*
* --------------------------------------------
* These are some styles that I am customizing 
* to over-ride the default bootstrap ones
*---------------------------------------------
*/
.bg-info {
    background-color: #21897E;
}

.navbar-light .navbar-brand {
    color: #3BA99C;
}

.btn-primary {
    color: #69D1C5;
    font-size: 150%;
    background-color: #FA9500;
    border-color: #eb6424;
    border-width: thick
}

body {
    background-color: #7EBCE6;
}

.navbar-brand{
    font-family: 'Indie Flower', cursive;
    font-size: 2.25rem;
}